html
  head
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      disp_avatars = #{avatars},
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
  body
    section
      #top_hud_container
        #header
          #match_info Best Of 3
          #match_teams
            #round_info(style='height: 55px;').container
              #team_1.team_info(style='height: 100%; width:360px').row
                #team_logo.col_sm
                  img#team_1_logo
                #match_one_info.col_sm
                  .block
                  .block
                #team_score.col_sm 0
                #team_name.col Team 1
              #team_2.team_info(style='height: 100%; width:360px').row
                #match_two_info.col_sm
                  .block
                  .block
                #team_score.col_sm 0
                #team_name.col Team 2
                #team_logo.col_sm
                  img#team_2_logo
              #per_round_info
                #round_counter Round 0 / 30
                #time_counter 1:55
        #bomb_container
          #bomb_img
            img.bomb
          #bomb_background
          #bomb_timer
        #defuser
          #defuse_background
          #defuse_bar
          #defuse_img
            img.defuse
        #economy
          #left_value
            #eq_money_1.first_tm $0
          #eq_text Equip.Value
          #right_value
            #eq_money_2.first_tm $0
        #loss_bonus
          #left_loss_value
            #ls_money_1.first_tm $0
          #ls_text Loss Bonus
          #right_loss_value
            #ls_money_2.first_tm $0
      #who_won
        #winning_team
        div win the round!
      #stats-container
        #left_stats
          #stats_player1.stats_player.st_left
            #stat_money.st_left
              | -$1000
          #stats_player2.stats_player.st_left
            #stat_money.st_left
              | -$1000
          #stats_player3.stats_player.st_left
            #stat_money.st_left
              | -$1000
          #stats_player4.stats_player.st_left
            #stat_money.st_left
              | -$1000
          #stats_player5.stats_player.st_left
            #stat_money.st_left
              | -$1000
        #right_stats
          #stats_player6.stats_player.st_right
            #stat_money.st_right
              | -$1000
          #stats_player7.stats_player.st_right
            #stat_money.st_right
              | -$1000
          #stats_player8.stats_player.st_right
            #stat_money.st_right
              | -$1000
          #stats_player9.stats_player.st_right
            #stat_money.st_right
              | -$1000
          #stats_player0.stats_player.st_right
            #stat_money.st_right
              | -$1000
      #player-container
        #bottom_hud
          #first_row(style='height: 55px')
            #avatar_container(style='height: 55px')
            //- #team_logo
            //-   img#team_1_logo
            //-   img#team_2_logo
            #current_nick
              | oszten
            #flag
          #second_row(style='height: 55px')
            #health_armor
              #health-text 100
              #armor-text 100
            #kills
            #stats_container
              #stats_img
                #kills_img
                  img(src='/files/img/death.png', style='max-height:20px; width:auto')
                  #kills_hud_count 13
                #assist_img.img
                  img(src='/files/img/death.png', style='max-height:20px; width:auto')
                  #assist_hud_count 13
                #death_img.img
                  img(src='/files/img/death.png', style='max-height:20px; width:auto')
                  #death_hud_count 13
            #nades
              img(src='/files/img/grenades/weapon_flashbang.png', style='max-height: 20px; width:auto; filter: invert(100%); float:right; margin-right:10px;')
              img(src='/files/img/grenades/weapon_smokegrenade.png', style='max-height: 20px; width:auto; filter: invert(100%); float:right; margin-right:10px;')
              img(src='/files/img/grenades/weapon_hegrenade.png', style='max-height: 20px; width:auto; filter: invert(100%); float:right; margin-right:10px;')
            #ammo
              #clip-text.clip 100
              #reserve-text.reserve 100
          //- #first_row
          //-   #avatar_container(style="width:139px; height:139px; margin-top:-140px; float:left;")
          //- #second_row
          //-   #current_nick
          //-     | oszten
          //-   #ammo
          //-     #clip-text.clip 100
          //-     #reserve-text.reserve 100
          //-   #health_armor
          //-     #health-text 100
          //-     #armor-text 100
          //-   #nades
          //-     img(src='/files/img/grenades/weapon_flashbang.png', style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;')
          //-     img(src='/files/img/grenades/weapon_smokegrenade.png', style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;')
          //-     img(src='/files/img/grenades/weapon_hegrenade.png', style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;')
          //- #third_row
          //-   #nick_also.inlining
          //-     | NICK
          //-   #stats.inlining
          //-     #kills_count.inlining 13
          //-     #assist_count.inlining 13
          //-     #death_count.inlining 13
      #left.team
        #player1.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.ct 0$
              .bomb_defuse.ct
                img.invert_brightness(src='/files/img/elements/defuse.png')
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills 0
              .deaths 0
          #number.number 1
        #player2.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.ct 0$
              .bomb_defuse.ct
                img.invert_brightness(src='/files/img/elements/defuse.png')
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills 0
              .deaths 0
          #number.number 2
        #player3.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.ct 0$
              .bomb_defuse.ct
                img.invert_brightness(src='/files/img/elements/defuse.png')
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills 0
              .deaths 0
          #number.number 3
        #player4.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.ct 0$
              .bomb_defuse.ct
                img.invert_brightness(src='/files/img/elements/defuse.png')
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills 0
              .deaths 0
          #number.number 4
        #player5.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.ct 0$
              .bomb_defuse.ct
                img.invert_brightness(src='/files/img/elements/defuse.png')
              #weapon_icon.bar_weapon.ct
            .stat_t
              .kills 0
              .deaths 0
          #number.number 5
      #right.team
        #player1.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.t 0$
              .bomb_defuse.t
                img.invert_brightness(src='/files/img/elements/bomb.png')
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills 0
              .deaths 0
          #number.number 6
        #player2.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.t 0$
              .bomb_defuse.t
                img.invert_brightness(src='/files/img/elements/bomb.png')
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills 0
              .deaths 0
          #number.number 7
        #player3.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.t 0$
              .bomb_defuse.t
                img.invert_brightness(src='/files/img/elements/bomb.png')
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills 0
              .deaths 0
          #number.number 8
        #player4.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.t 0$
              .bomb_defuse.t
                img.invert_brightness(src='/files/img/elements/bomb.png')
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills 0
              .deaths 0
          #number.number 9
        #player5.player
          .bar1
            .hp_bar
              #hp_p.hp_el 100
              #bar_username.bar_username undefined
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills K
              .deaths D
          .bottom_bar
            .equip_bar
              .hp_el
              .moneys.t 0$
              .bomb_defuse.t
                img.invert_brightness(src='/files/img/elements/bomb.png')
              #weapon_icon.bar_weapon.t
            .stat_t
              .kills 0
              .deaths 0
          #number.number 0
